<div class="col-lg-12" >
  <div class="col-lg-12" class="header_border">
    <h1 class="header"><span >Admin</span><span > Dashboard</span></h1>
    </div>
  <div class="container" style="max-width: 1200px">
    <span><button class="add_btn" data-toggle="modal" data-backdrop="false" data-keyboard="false" (click)="addItem()"
      data-target="#myModal">Add Course</button></span>
    <span><button class="search_btn" style ="float: right;" (click) = "search()">Search </button></span>
    <form [formGroup] ="searchForm">
      <span class="input-group rounded" style="width: 28%;float: right;margin-bottom: 14px">
          <input type="search" formControlName ="search" style  = "margin-right: 13px; "class="form-control rounded" placeholder="Course Name" aria-label="Search" aria-describedby="search-addon" />
          <!-- <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
          </span> -->  
      </span>
    </form>
    <div *ngIf = "!filtercourse" class="grid-container" style="margin:2%; height: 700px;height: 470px;">
      <div *ngFor=" let object of CourseData,index as i">
        <div class="app_container">
          <!-- <img src = "assets\elogo.png" height="100" width="160"> -->
          <!-- <div class="property_text">Course Name:{{object.coursename}}</div> -->
          <div>
            <span class="property_text" style="color:#2F4F4F">
              CourseName:
            </span>
            <span style="font-size: 15px;font-style: normal;color: olive;;font-weight: 500; ">{{object.coursename}}</span>
          </div>
          <div>
            <span class="property_text" style="color:#2F4F4F">Description:</span>
            <span style="font-size: 15px;font-style: normal;color: olive;font-weight: 500;">{{object.description}}</span>
          </div>
          <div class="property_text">
            <span class="property_text" style="color:#2F4F4F">technology:</span>
            <span style="font-size: 15px;font-style: normal;color: olive;font-weight: 500;">{{object.technology}}</span>
          </div>
          <div>
            <span class="property_text" style="color:#2F4F4F">Duration:</span>
            <span style="font-size: 15px;font-style: normal;color: olive; font-weight: 500;">{{object.duration}}</span>
          </div>
          <div>
            <span class="property_text" style="color:#2F4F4F">url:</span>
            <span style="font-size: 15px;font-style: normal;color: olive;font-weight: 500;">{{object.url}}</span>
          </div>
          <button class="dlt_btn" data-toggle="modal" data-backdrop="false" data-keyboard="false" (click)="DeleteItem($event,object.courseId)"
            data-target="#myModalDelete">Delete</button>
        </div>
      </div>
      
    </div>
    <div *ngIf = "filtercourse" class="grid-container" style="margin:2%; height: 700px;height: 470px;">
      <!-- <div *ngIf ="showNotResultFound">result not found</div> -->
      <div *ngFor=" let object of searchData,index as i">
        <div class="app_container">
          <!-- <img src = "assets\elogo.png" height="100" width="160"> -->
          <!-- <div class="property_text">Course Name:{{object.coursename}}</div> -->
          <div>
            <span class="property_text" style="color:#2F4F4F">
              CourseName:
            </span>
            <span style="font-size: 15px;font-style: normal;color: olive;;font-weight: 500; ">{{object.coursename}}</span>
          </div>
          <div>
            <span class="property_text" style="color:#2F4F4F">Description:</span>
            <span style="font-size: 15px;font-style: normal;color: olive;font-weight: 500;">{{object.description}}</span>
          </div>
          <div class="property_text">
            <span class="property_text" style="color:#2F4F4F">technology:</span>
            <span style="font-size: 15px;font-style: normal;color: olive;font-weight: 500;">{{object.technology}}</span>
          </div>
          <div>
            <span class="property_text" style="color:#2F4F4F">Duration:</span>
            <span style="font-size: 15px;font-style: normal;color: olive; font-weight: 500;">{{object.duration}}</span>
          </div>
          <div>
            <span class="property_text" style="color:#2F4F4F">url:</span>
            <span style="font-size: 15px;font-style: normal;color: olive;font-weight: 500;">{{object.url}}</span>
          </div>
          <button class="dlt_btn" data-toggle="modal" data-backdrop="false" data-keyboard="false" (click)="DeleteItem($event,object.courseId)"
            data-target="#myModalDelete">Delete</button>
        </div>
      </div>
      
    </div>
  </div>
</div>
<!--Add Popup-->
<div *ngIf="tagclose" class="modal fade" id="myModal" role="dialog" [ngClass]="{'show':showModal}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="width:  86%;">
      <div class="modal-header" style="border: none;">
        <h4 class="modal-title">Do you Want to add any item?</h4>
        <button type="button" class="close" (click)="closeModel()" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 form_container">
            <form class="form-inline" [formGroup]="addform" action="/action_page.php">
              <div style="margin-bottom: 1%;margin-left: 16%">
                <label class="form-label" for="form1Example1">Course Name</label>
                <input type="text" style="margin-right: 30px" formControlName="courseName" id="form1Example1"
                  class="form-control"
                  [ngClass]="{'error-border':(submitted && addform.controls.courseName.errors?.required )}" />
                <label class="form-label" for="form1Example2">Technology</label>
                <input type="text" formControlName="technology" id="form1Example2" class="form-control"
                  [ngClass]="{'error-border':(submitted && addform.controls.technology.errors?.required )}" />
              </div>
              <div style="margin-bottom: 1%">
                <label class="form-label" for="form1Example2">Description</label>
                <input type="text" style="margin-right: 30px" formControlName="description" id="form1Example2"
                  class="form-control"
                  [ngClass]="{'error-border':(submitted && addform.controls.description.errors?.required )}" />
                  <label class="form-label" for="form1Example2">Duration</label>
                <input type="number" style="margin-right: 30px" formControlName="duration" id="form1Example2"
                  class="form-control"
                  [ngClass]="{'error-border':(submitted && addform.controls.duration.errors?.required )}" />
              </div>
              <div style="margin-left:16% ;">
                <label class="form-label" for="form1Example2">URL</label>
                <input type="url" formControlName="url" id="form1Example2" class="form-control"
                  [ngClass]="{'error-border':(submitted && addform.controls.url.errors?.required )}" />
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="border: none;">
        <button class="addPopup-btn" (click)="adedItems();">Add</button>
        <button type="button" class="closePopup-btn" (click)="closeModel()" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Delete Popup-->
<div *ngIf="tagclosedelete" class="modal fade" id="myModalDelete" role="dialog" [ngClass]="{'show':showDeleteModal}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header" style="border: none;">
        <!-- <h4 class="modal-title">Do you Want to add any item?</h4> -->
        <button type="button" class="close" (click)="closedeleteModel()" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h6>Do you Want to delete this item ?</h6>
      </div>
      <div class="modal-footer" style="border: none;">
        <button class="addPopup-btn" style="width: 14%" (click) = "checkDelete();">Delete</button>
        <button type="button" class="closePopup-btn" style="width: 14%" (click)="closedeleteModel()"
          data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>